/* src/web/styles/reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* src/web/styles/fonts/fonts.css */
@font-face {
  font-family: "Monaspace Xenon";
  src: url("./Monaspace Xenon Var-EMPXSUJW.woff2") format("woff2");
  font-weight: 200 800;
  font-stretch: 100 125;
}
@font-face {
  font-family: "Monaspace Neon";
  src: url("./Monaspace Neon Var-PHOGLE6K.woff2") format("woff2");
  font-weight: 200 800;
  font-stretch: 100 125;
}

/* src/web/styles/styles.css */
#app {
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
}
.portal {
  height: stretch;
  width: stretch;
  margin: 1rem;
  padding: 1rem;
  background-color: #333333;
  font-family: "Monaspace Neon", monospace;
}
.surface {
  display: flex;
  position: absolute;
  padding: 0.5rem;
  background:
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(60, 60, 60, 0.4) 100%);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}
.vt-list {
  display: flex;
  flex-direction: column;
}
.vt-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 8px 0;
  border-radius: 4px;
}
.vt-serde {
  min-width: 80px;
}
.vt-desc {
  flex: 1;
}
.vt-btn {
  padding: 4px 8px;
  font-size: 14px;
}
.options {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.entity-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.entity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
.entity-id {
  font-size: 0.8em;
  opacity: 0.7;
}
.value-list {
  display: flex;
  flex-direction: column;
}
